@tailwind base;
@tailwind components;
@tailwind utilities;

#borderrnone {
  border: none;
  width: 0;
  height: 0;
  background-color: transparent;
}
#borderrnone:hover {
  border: none;
}
:where(.css-dev-only-do-not-override-1k979oh).ant-btn-default:not(
    :disabled
  ):not(.ant-btn-disabled):hover {
  background-color: transparent;
}
.ant-upload-list-item-name {
  display: none;
}
.ant-upload-list-item-actions {
  display: none;
}
.ant-upload-icon {
  display: none;
}
.ant-upload-list.ant-upload-list-text {
  display: none;
  /* color: #37415171; */
}
#CreatePostModel {
  transition: all 5s ease-in-out;
}

.trapezius {
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 10px solid transparent; /* رنگ و ضخامت را می‌توانید تغییر دهید */
  transform: perspective(500px) rotateX(20deg);
}

.toolbar-wrapper {
  position: fixed;
  bottom: 32px;
  left: 50%;
  padding: 0px 24px;
  color: #fff;
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 100px;
  transform: translateX(-50%);
}

.toolbar-wrapper .anticon {
  padding: 12px;
  cursor: pointer;
}

.toolbar-wrapper .anticon[disabled] {
  cursor: not-allowed;
  opacity: 0.3;
}

.toolbar-wrapper .anticon:hover {
  opacity: 0.3;
}

#copyCheck > svg > path:first-child {
  color: green;
  font-weight: 900;
}

.ant-dropdown-menu.ant-dropdown-menu-root.ant-dropdown-menu-vertical.ant-dropdown-menu-light.css-dev-only-do-not-override-7l2uzt {
  text-align: center;
  background-color: transparent;
}
.ant-dropdown-menu.ant-dropdown-menu-root.ant-dropdown-menu-vertical.ant-dropdown-menu-light.css-dev-only-do-not-override-7l2uzt
  li:hover {
  text-align: center;
  background-color: transparent;
  box-shadow: none;
}

.ant-progress-text > span {
  display: none;
}
.ant-progress-inner > .ant-progress-text {
  display: none;
}

:where(.css-dev-only-do-not-override-7l2uzt).ant-dropdown .ant-dropdown-menu,
:where(.css-dev-only-do-not-override-7l2uzt).ant-dropdown-menu-submenu
  .ant-dropdown-menu {
  box-shadow: none;
}
:where(.css-dev-only-do-not-override-7l2uzt).ant-dropdown
  .ant-dropdown-arrow:before {
  background: black;
}
.-z-1 {
  z-index: -1;
}

.origin-0 {
  transform-origin: 0%;
}

input:focus ~ label,
input:not(:placeholder-shown) ~ label,
textarea:focus ~ label,
textarea:not(:placeholder-shown) ~ label,
select:focus ~ label,
select:not([value=""]):valid ~ label {
  /* @apply transform; scale-75; -translate-y-6; */
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  --tw-scale-x: 0.75;
  --tw-scale-y: 0.75;
  --tw-translate-y: -1.5rem;
}

input:focus ~ label,
select:focus ~ label {
  /* @apply text-black; left-0; */
  --tw-text-opacity: 1;
  color: rgba(0, 0, 0, var(--tw-text-opacity));
  left: 0px;
}

