.animated:hover {
  transform: rotate(180deg);
}
.animated {
  transition: transform 2s;
}
.animated2:hover {
  transform: rotate(-10deg);
}
.animated2 {
  transition: transform 0.5s;
}
.animated3:hover {
  transform: scale(1.2);
}
.animated3 {
  transition: transform 0.5s;
}
:where(.css-dev-only-do-not-override-1k979oh).ant-upload-wrapper
  .ant-upload-drag {
  border: 2px dashed white;
  border-radius: 2px 2px 12px 12px;
}
:where(.css-dev-only-do-not-override-1k979oh).ant-upload-wrapper
  .ant-upload-drag:hover {
  border: 2px dashed white;
}
:where(.css-dev-only-do-not-override-1k979oh).ant-upload-wrapper
  .ant-upload-drag
  p.ant-upload-drag-icon
  .anticon {
  color: white;
}
.ck-blurred.ck.ck-content.ck-editor__editable.ck-rounded-corners.ck-editor__editable_inline {
  border-radius: 0 0 7px 7px;
  color: white;
  background-color: rgb(76, 87, 103);
  border-bottom: 1px solid white;
  border-right: 1px solid white;
  border-left: 1px solid white;
}

.ck.ck-editor__main > .ck-editor__editable:focus {
  border: none;
  border-radius: 0 0 7px 7px;
}
.ck.ck-editor__main > .ck-editor__editable:not(.ck-focused) {
  border: none;
  border-radius: 0 0 7px 7px;
}

.ck.ck-content.ck-editor__editable.ck-rounded-corners.ck-editor__editable_inline.ck-focused {
  border-radius: 0 0 7px 7px;
  border: none;
  color: white;
  border-bottom: 1px solid white;
  border-right: 1px solid white;
  border-left: 1px solid white;
  background-color: rgb(76, 87, 103);
}
.ck-rounded-corners .ck.ck-editor__top .ck-sticky-panel .ck-toolbar,
.ck.ck-editor__top .ck-sticky-panel .ck-toolbar.ck-rounded-corners {
  background-color: rgb(76, 87, 103);
  border-bottom: 2px solid white;
  color: red;
}

[class^="box-"] {
  /* color: #4d4c4c; */
  background-color: #343340b9;
  /* border-radius: 5px; */
  width: 100%;
  height: 165px;
  min-width: 80px;
  max-width: 100%;
  padding: 0;
}
[class^="box-"] .stats {
  background-color: #333;
  float: left;
  top: 0;
  width: 100%;
  font-size: 20px;
  padding: 5px 10px;
  text-align: left;
  font-weight: 100;
  opacity: 0;
  width: 98%;
  color: white;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
[class^="box-"] .stats span:last-of-type {
  float: right;
}
[class^="box-"] .stats .btl {
  font-size: 80%;
  vertical-align: middle;
}
[class^="box-"]:hover .stats {
  opacity: 1;
}
@media (max-width: 1200px) {
  [class^="box-"] {
    min-height: 212.5px;
  }
}
@media (max-width: 990px) {
  [class^="box-"] {
    min-height: 220px;
  }
}
@media (max-width: 620px) {
  [class^="box-"] {
    min-height: 170px;
  }
}
@media (max-width: 520px) {
  [class^="box-"] {
    min-height: 143.33px;
  }
}
@media (max-width: 420px) {
  [class^="box-"] {
    min-height: 110px;
  }
}
